:root {
  --navColor: #1a2a36;
  --navIconColor: #7298b4;
  --navFontColor: #b3d5ef;
  --navFontHover: #fff;
  --cardBackground: #fff;
}
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap");

.rtl {
  direction: rtl;
}

.frost-button-blue {
  background: rgb(53, 80, 103);
  background: linear-gradient(
    16deg,
    rgba(53, 80, 103, 1) 0%,
    rgba(80, 128, 152, 1) 100%
  );
  border: none;
  width: auto;
  color: #fff;
  display: block;
  border-radius: 15px;
  text-align: center;
  margin-top: 5px;
  line-height: 35px;
  font-size: 24px;
  font-weight: 600;
  padding: 8px;
  min-width: 100px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}
.frost-button-blue:hover {
  background: rgb(53, 80, 103);
  background: linear-gradient(
    16deg,
    rgba(53, 80, 103, 1) 0%,
    rgba(80, 128, 152, 1) 100%
  );
  color: #fff;
}
.frost-button-darkblue {
  background: rgb(63, 82, 98);
  background: linear-gradient(
    50deg,
    rgba(63, 82, 98, 1) 0%,
    rgba(77, 112, 131, 1) 100%
  );
  width: auto;
  border: none;
  color: #fff;
  display: block;
  border-radius: 15px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  font-weight: 600;
  padding: 8px;
  min-width: 100px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}
.frost-btn-group {
  display: flex;
  flex-direction: row-reverse;
}
.frost-btn-group button:nth-of-type(2) {
  width: 70%;
}
.frost-btn-group button:nth-of-type(1) {
  width: 30%;
  margin-right: 10px;
}
